<h1>All Products</h1>
<% @categories.each do |category| %>
  <% @products.each do |product| %>
    <% if category.id == product.category_id %>
      <p>
        Product: <%= link_to product.title, product %> -
        $<%= product.price %> -
        in stock: <%= product.stock_quantity %> -
        Category: <%= category.name %>
      </p>
    <% end %>
  <% end %>
<% end %>