<h1>All Products</h1>

<% @products.each do |product| %>
  <p>
    Product: <%= link_to product.title, product %> -
    $<%= product.price %> -
    in stock: <%= product.stock_quantity %>
  </p>
<% end %>